dart 3.0.0
{%- if cookiecutter.additional_tool_versions is defined and cookiecutter.additional_tool_versions|length %}
  {%- for key, value in cookiecutter.additional_tool_versions|dictsort %}
{{key|safe}} {{value.version|safe}}
{%- endfor %}
{%- endif %}
